/* ----- GENERAL STYLE -----*/

.wrapper {
	width:1440px;
	max-width: 90%;
	margin: 0 auto;
}

.wrapper_footer {
	width:1440px;
	max-width: 90%;
	margin:0 auto;
	padding:2rem 0;
}

#title {
	color:white;
	font-weight:700;
	font-size:4.5rem;
	margin:0;
	padding-top:6rem;
}

.button-main {
	color:white;
	font-weight:400;
	font-size:1rem;
	border-radius:4rem;
	text-decoration: none;
	margin:0 0.75rem 0 0;
	padding:.50rem 1.5rem;
	border:0.15rem solid white;
}

.button-main:hover {
	color:black;
	background-color: white;
	font-weight:700;
	font-size:1rem;
	border-radius:4rem;
	text-decoration: none;
	margin:0 0.75rem 0 0;
	padding:.50rem 1.5rem;
}

body {
	font-family:'Cormorant',serif;
	font-size: 1.15rem;
} 

main {
	box-shadow: inset 0 0.25rem 0.75rem 0 rgba(0,0,0,0.5);
	background-color: #EDEDED;
	padding:1.5rem 0 10rem 0;
}

h2 {
	color:#848484;
	text-transform: uppercase;
	font-weight:700;
	margin:0 0 2rem 0;
}

#copyright {
	color:white;
	margin:0;
	text-align:center;
}

#copyright > a {
	color:white;
}


/* ----- BANNER STYLE -----*/


#header {
	background-image: url(../images/banner-header-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-wrapper{
	padding: 10rem 0 4rem;
}

nav {
	float:right;
}

/* ----- FOOTER STYLE -----*/

footer {
	background-color: black;
}

/* ----- FIGURE STYLE -----*/
figure {
	float:right;
	margin:0 0 0 1rem;
}

figure > img {
	box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.5);
}

#figure_intro {
	float:right;
	margin:-2.5rem 0 0 1.5rem;
}
	figcaption{
		width:220px;
		font-weight:300;
		font-size:0.9rem;
	}


